// Colors
$brandColor: #64B5BB;
$lightBrand: #AAD6DA;
$grey: #6E665B;
$lightGrey:#F8F7F7;
$secondaryColor: #F1CA29;
$yellow: #F5FCA5;
$btn-start-color: #FEFFFA;
$green: #D4D867;
$red: #EF6E60;
$white: #fff;
$black: #000;

// Fonts
$primary-font: 'Lato', sans-serif;
$admin-font: 'Oswald', sans-serif;
$title-font: 'Roboto', sans-serif;