
.main-admin {
  .admin-content {
    .logo {
      width: 400px;
      border-radius: 5px;
      margin: 0 auto;



      img {
        margin: 0 auto;
        border-radius: 5px;
        height: 100%;
      }

    }

    .info-risto {
      text-align: center;

      .address,
      .p.iva,
      .phone {
        font-size: 15px;
        font-style: italic;
      }

      p {
        font-weight: bold;
      }

      .btns {
        flex-wrap: wrap;
        justify-content: center;

        form {
          display: inline-flex;
          button {
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
              &:hover {
                color: $yellow;
              }
          }
        }
      }
    }


  }

  .empty {
    h2 {
      font-size: 3rem;
      padding-top: 80px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 996px) {

  .main-admin {
    .admin-content {
      .logo {
        width: 90%;

        img {
          padding: 15px;
        }
      }
    }
  }
}
