.edit-dishes {
    max-width: 50%;
}

.edit-dishes,
.change-image,
.description2,
.available2,
.vegan2,
.submit2 {
    margin-left: 25%;
}

.change-image {
    margin-top: 5px;
}

.submit2 {
    max-width: 150px;
}